<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/survey.css">

<title>About Me</title>
</head>

<body>
<div class="container">
<header>
<h1>Survey</h1></header><main>
<section class="main-content">
  <div>
    <nav class="navbar">
        <ul class="nav-list">
        <li><a href="index.html"class="nav-link">Home</a></li>
        <li><a href="education.html"class="nav-link">Education</a></li>
        <li><a href="interest.html"class="nav-link">Interests</a></li>
        <li><a href="goals.html"class="nav-link">Goals</a></li>
        <li><a href="gallery.html"class="nav-link">Gallery</a></li>
        <li><a href="reference.html"class="nav-link">Reference</a></li>
        <li><a href="survey.html"class="nav-link">Survey</a></li>
      </ul>
    </nav>
  </div>
<br>
<div class="grid">
  <div class="flex-item-survey"><h2>How was my website?</h2>
    <div id="app">
      <input type="text" v-model="inpName" placeholder="Name">
      <input type="text" v-model="inpSuggestion" placeholder="Suggestion*">
      <button @click="submitSuggestion">Submit</button>

      <ul>
          <li v-for="(suggestion, index) in suggestions" :key="index">
              {{ suggestion.name }}: {{ suggestion.text }}
          </li>
      </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.js"></script> 
  <script src="js/survey.js"></script>

      </div>
      </div>
</div>
</div>
</section>
<aside class="sidebar"></aside>
</main>
<footer>Asia Pacific College</footer>
</div>
<script src="js/myScript.js"></script>
</body>
</html>

