body {
  background-color: #DED7EC;
}
h1 {
  color: purple;
  text-align: center;
}
h2 {
  color: #4990B3;
  text-align: center;
}
p {
  color: #545375;
  font-family: verdana;
  font-size: 17px;
}
ul {
  color: #545375;
  font-family: verdana;
  font-size: 17px;
}
