body {
  background-color: #DED7EC;
}
h1 {
  color: purple;
  text-align: center;
}
.container {
  margin-left: 25%;
  margin-right: 25%;
  background-color:#b3a3d3 ;
  border-radius: 25px;
}
.container table {
 width: 100%;
}
.container td{
  text-align: center;
}
h2 {
  color: #4990B3;
  text-align: center;
}
p {
  color: #545375;
  font-family: verdana;
  font-size: 17px;
}
ul {
  color: #545375;
  font-family: verdana;
  font-size: 17px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

